body{
    background-color: rgb(255, 255, 255);
    margin:2vw;
    cursor:url('./images/rafa.png'), auto;

    
}





/*--------------------------*/

h1{
    font-family: freckles;
    font-size: 10vw;
    color:rgb(8, 64, 78);   
}


h2{
    font-family: freckles;
    font-size: 5vw;
    color:rgb(255, 255, 255);
    padding: 0px;
    margin:0px;
}


p{
    color:rgb(255, 255, 255);
    font-size: 2vw;
    font-family:isev;

}




a{
    font-size: 10vw;
}


/*---------ID---------*/





#rafa{
    width: 50vw;
    transform: translate(30%);
    
    
}


#right_img{
    display: flex;
    justify-content: flex-end;
    transform: translate(0,0);
}

#chess img{
    width:30vw;
    transition: transform 0.3s ease;
}

#chess:hover img{
    transform: scale(1.1);
}


#OO{
    margin:0; 
    width:30vw;
    transition: transform 0.3s ease;
}

#OO:hover{
    transform: scale(1.1);
}

/*-------------CLASS----------------------*/

.block{
    display: flex;
    justify-content: space-between;
    
    margin: 2vw auto;
    width: 70vw;
    background-color: rgb(8, 64, 78, 0.8);
   
   
    border-radius: 50px;
    overflow: hidden;
    padding: 5vw;

    position: relative;
    z-index: 2;

}

.textblock{
    display: flex;
    flex-direction: column;
}

.buttons{
    width: 10vw;
}

.imgZW{
    display:flex;
    margin:auto;
    width:30vw;

}

.imgBACK{
    margin:auto; 
    position: absolute;
    z-index: 1;
    

    /*transition: width 1s;*/
}

/*.imgBACK:hover{
   
    background-color: aquamarine;
    width: 20vw;
    

}
*/



/*--------------FONT---------------------------*/


@font-face {
    font-family: freckles;
    src: url(./fonts/FreckleFace-Regular.ttf);
}

@font-face {
    font-family: isev;
    src: url(./fonts/IosevkaCharon-Bold.ttf);
}


@media (orientation:portrait) {

    .imgBACK{
        width: 30vw;
    }
    
}