p{
    color:rgb(116, 58, 131);
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif;
    background-color: aquamarine;

}

#rafa{
    width: 33vw;
    opacity: 50%;
    border: 7px solid black;

}